<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Resume Edit</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
	</head>
	<body style="padding: 15px">
		<form class="pure-form" method="post" action="/resume">
			<fieldset>
				<legend>履歷表-修改</legend>
				姓名: <input type="text" name="name"><p />
				生日: <input type="date" name="birth"><p />
				性別: <input type="radio" name="gender" value="男">男 <input type="radio" name="gender" value="女">女<p />
				學歷: <select name="education">
						<option value="高中">高中</option>
						<option value="專科">專科</option>
						<option value="大學">大學</option>
						<option value="研究所">研究所</option>
					  </select><p />
				專長: <input type="text" name="skill"><p />
				簡歷: <input type="text" name="memo"><p />
				<button type="submit">Submit</button>	
			</fieldset>
		</form>
	</body>
</html>