<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Resume Form</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
	</head>
	<body style="padding: 15px">
		<table>
			<td valign="top">
				<form class="pure-form" method="post" action="/resume">
					<fieldset>
						<legend>履歷表</legend>
						姓名: <input type="text" name="name"><p />
						生日: <input type="date" name="birth"><p />
						性別: <input type="radio" name="gender" value="男">男 <input type="radio" name="gender" value="女">女<p />
						學歷: <select name="education">
								<option value="高中">高中</option>
								<option value="專科">專科</option>
								<option value="大學">大學</option>
								<option value="研究所">研究所</option>
							  </select><p />
						專長: <input type="text" name="skill"><p />
						簡歷: <input type="text" name="memo"><p />
						<button type="submit">Submit</button>	
					</fieldset>
				</form>
			</td>
			<td valign="top" style="padding-left: 15px">
				<table class="pure-table pure-table-bordered">
					<thead>
						<tr>
							<th>序號</th><th>姓名</th><th>生日</th><th>性別</th>
							<th>學歷</th><th>專長</th><th>簡歷</th><th>刪除</th>
						</tr>
					</thead>
					<tbody>
						<!-- 遍歷 resumes -->
						<tr th:each="resume : ${resumes}">
							<td>
								<a th:href="@{/resume/{id}(id=${resume.id})}" th:text="${resume.id}">
									序號
								</a>
							</td>
							<td th:text="${resume.name}">姓名</td>
							<td th:text="${resume.birth}">生日</td>
							<td th:text="${resume.gender}">性別</td>
							<td th:text="${resume.education}">學歷</td>
							<td th:text="${resume.skill}">專長</td>
							<td th:text="${resume.memo}">簡歷</td>
							<td>
								<a th:href="@{/resume/delete/{id}(id=${resume.id})}">
									刪除
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</table>
	</body>
</html>